.nav
    height: 3rem
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

    &__list
        background: green
        display: flex
        align-items: center

    &__item
        margin: 1rem
    &__link
        background: skyblue
        padding: 1rem
        display: block

        &:hover
            color: red
        &:active
            color: white
